.admin-flights-container {
    overflow-x: scroll;
    width: 90vw;
    margin-left: 5vw;
  }
  
  .admin-flights {
  }
  
  th, td {
    padding: 15px;
  }
  
  
  .admin-flights thead {
    max-width: 80vw;
  }
  
  .admin-flights .user-item {
    overflow-x: scroll;
  }
  
  