<link rel="stylesheet" href="admin-users.component.css">
<div class="row admin-users-container">
  <table class="admin-users">
    <thead>
    <th>id</th>
    <th>Update/Delete</th>
    <th>firstname</th>
    <th>lastName</th>
    <th>email</th>
    <th>password</th>
    <th>roleType</th>
    <th>locked</th>
    <th>enabled</th>
    <th>username</th>
    <th>accountNonExpired</th>
    <th>credentialsNonExpired</th>
    <th>accountNonLocked</th>
    </thead>
    <tr class="user-item"
        *ngFor="let user of users"
    >


      <td>{{user.id}}</td>
      <td style="display: flex; flex-direction: column; gap: 5px;">
        <button class="btn btn-primary" (click)="update(user.id)">
          Update
        </button>
        <button class="btn btn-danger" (click)="delete(user.id)">
          Delete
        </button>
      </td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.password}}</td>
      <td>{{user.roleType}}</td>
      <td>{{user.locked}}</td>
      <td>{{user.enabled}}</td>
      <td>{{user.username}}</td>
      <td>{{user.accountNonExpired}}</td>
      <td>{{user.credentialsNonExpired}}</td>
      <td>{{user.accountNonLocked}}</td>

    </tr>
  </table>


</div>

