<link rel="stylesheet" href="tickets-list.component.css">
<div class="row admin-addresses-container">
  <div class="user-tickets">

    <div class="user-ticket"
         *ngFor="let ticket of allTickets"
    >
      <h2>TICKET</h2>


      <div>{{ticket.departure}}</div>

      <div>

            <span>
          {{ticket.from}}</span>
        --->
        <span>
          {{ticket.to}}</span>
      </div>

      <div>
        Be present at the {{ticket.address}} at preferably 2 hourse before {{ticket.departure}}
      </div>

    </div>
  </div>
  <!--  <div class="addresses">-->
  <!--    <div class="address"-->
  <!--         *ngFor="let address of allAddresses"-->
  <!--    >-->
  <!--      <div>Id: {{address.id}}</div>-->
  <!--      <div>Country: {{address.country}}</div>-->
  <!--      <div>Address: {{address.address}}</div>-->
  <!--      <div>Airport: {{address.airport}}</div>-->
  <!--      <div>-->
  <!--        <a href="/admin/addresses/{{address.id}}"></a>-->
  <!--        <button class="btn btn-primary">Edit</button>-->
  <!--        <a href="/admin/addresses/{{address.id}}"></a>-->
  <!--        <button class="btn btn-secondary">Delete</button>-->
  <!--      </div>-->

  <!--    </div>-->

  <!--  </div>-->

  <!--  &lt;!&ndash;  <div class="edit-address container col col-8 offset-2">&ndash;&gt;-->
  <!--  &lt;!&ndash;    &lt;!&ndash;    <form action="false">&ndash;&gt;&ndash;&gt;-->
  <!--  &lt;!&ndash;    &lt;!&ndash;      <div class="form-group">&ndash;&gt;&ndash;&gt;-->
  <!--  &lt;!&ndash;    &lt;!&ndash;        <label for="exampleInputEmail1">Email address</label>&ndash;&gt;&ndash;&gt;-->
  <!--  &lt;!&ndash;    &lt;!&ndash;        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">&ndash;&gt;&ndash;&gt;-->
  <!--  &lt;!&ndash;    &lt;!&ndash;        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>&ndash;&gt;&ndash;&gt;-->
  <!--  &lt;!&ndash;    &lt;!&ndash;      </div>&ndash;&gt;&ndash;&gt;-->

  <!--  &lt;!&ndash;    &lt;!&ndash;    </form>&ndash;&gt;&ndash;&gt;-->

  <!--  &lt;!&ndash;    <form class="edit-ticket-form">&ndash;&gt;-->

  <!--  &lt;!&ndash;      &lt;!&ndash;      Country:&ndash;&gt;&ndash;&gt;-->
  <!--  &lt;!&ndash;      <div class="form-group">&ndash;&gt;-->
  <!--  &lt;!&ndash;        <label for="exampleInputEmail1">Airport Country</label>&ndash;&gt;-->
  <!--  &lt;!&ndash;        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"&ndash;&gt;-->
  <!--  &lt;!&ndash;               placeholder="Enter Country">&ndash;&gt;-->
  <!--  &lt;!&ndash;&lt;!&ndash;        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>&ndash;&gt;&ndash;&gt;-->
  <!--  &lt;!&ndash;      </div>&ndash;&gt;-->

  <!--  &lt;!&ndash;      &lt;!&ndash;      Address :&ndash;&gt;&ndash;&gt;-->
  <!--  &lt;!&ndash;      <div class="form-group">&ndash;&gt;-->
  <!--  &lt;!&ndash;        <label for="exampleInputEmail1">Airport Address</label>&ndash;&gt;-->
  <!--  &lt;!&ndash;        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"&ndash;&gt;-->
  <!--  &lt;!&ndash;               placeholder="Enter Address">&ndash;&gt;-->
  <!--  &lt;!&ndash;&lt;!&ndash;        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>&ndash;&gt;&ndash;&gt;-->
  <!--  &lt;!&ndash;      </div>&ndash;&gt;-->

  <!--  &lt;!&ndash;      &lt;!&ndash;      Airport :&ndash;&gt;&ndash;&gt;-->
  <!--  &lt;!&ndash;      <label for="exampleInputEmail1">Choose Airport</label>&ndash;&gt;-->
  <!--  &lt;!&ndash;      <select class="form-select" aria-label="Default select example">&ndash;&gt;-->
  <!--  &lt;!&ndash;&lt;!&ndash;        // TODO for airport in all airports:&ndash;&gt;&ndash;&gt;-->
  <!--  &lt;!&ndash;        <option value="1">BGY</option>&ndash;&gt;-->
  <!--  &lt;!&ndash;        <option value="2">MIL</option>&ndash;&gt;-->
  <!--  &lt;!&ndash;        <option value="3">WAW</option>&ndash;&gt;-->
  <!--  &lt;!&ndash;      </select>&ndash;&gt;-->


  <!--  &lt;!&ndash;      <button type="submit" class="btn btn-primary">Save Address</button>&ndash;&gt;-->
  <!--  &lt;!&ndash;    </form>&ndash;&gt;-->


</div>

