<!--<app-register-user></app-register-user>-->


<div class="page-container position-relative" style="min-height: calc(100vh + 100px)">
  <div [ngClass]="!commonUtil.getLoginUser() ? 'row p-3 bg-black' : 'row p-3 bg-100px'">
    <!-- Am adaugat padding la navigatie -->
    <!--  <div class="row p-3"   > &lt;!&ndash; Am adaugat padding la navigatie &ndash;&gt;-->
    <div class="col-sm-8" style="position: relative; z-index: 3">
      <a *ngIf="!commonUtil.getLoginUser()" routerLink="/home" routerLinkActive="active"
         class="btn btn-outline-light">Home</a>

      <!--      Am grupat optiunile de navigare care apar in momentul logarii:-->
      <div *ngIf="commonUtil.getLoginUser()" class="d-flex gap-2">
        <!--        TODO for user:-->
        <a routerLink="/tickets" routerLinkActive="active" class="btn btn-close-white">Your Tickets</a>
        <a routerLink="/addTicket" routerLinkActive="active" class="btn btn-close-white">Book a ticket</a>
        <a routerLink="/home" routerLinkActive="" class="btn btn-close-white">Home</a>
        <!--        TODO ADMIN:-->
        <!--        <a routerLink="/tickets" routerLinkActive="" class="btn btn-close-white">Users</a>-->
        <!--        <a routerLink="/addresses" routerLinkActive="active" class="btn btn-close-white">Addresses</a>-->

      </div>

      <!--      ADMIN NAV:-->

      <div *ngIf="commonUtil.isAdminUser()" class="d-flex gap-2">
        <!--        TODO for user:-->
        <p>Manage:</p>
        <a routerLink="/admin/users" routerLinkActive="" class="btn btn-close-white">Users</a>
        <a routerLink="/admin/addresses" routerLinkActive="" class="btn btn-close-white">Addresses</a>

      </div>

    </div>

    <div class="login-logout-container col-sm-4" style="text-align: right;padding-left: 10px">

      <!-- Am grupat si spatiat butoanele de login-user/register, de asemenea am facut register mai vizibil, cum este pe site-uri reale -->
      <div *ngIf="!commonUtil.getLoginUser()" class="login-options d-flex gap-1" style="position: relative; z-index: 3">
        <a routerLink="/register" routerLinkActive="active" class="btn btn-outline-light">Register</a>
        <a routerLink="/login" routerLinkActive="active" class="btn btn-close-white">Login</a>
      </div>

      <button *ngIf="commonUtil.getLoginUser()" class="btn btn-close-white" (click)="logout($event)">Logout
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>
  <div class="m-5 p-5">&nbsp;</div>
  <footer class="text-center" style="height: 50px">
    Blue Sky is a complete mockup of a airline website created &copy; in 2022
  </footer>
</div>
